$white: #fff;
$footer-bg: #DFDFDF;
$yellow: #FFEF35;
$medText: #5A5A5A;
$text: #363838;
$smallText: #8F8D8D;
$black: #000;

$z-index-header: 1000;

$ffMont: 'Montserrat', sans-serif;
$ffOpenSans: 'Open Sans', sans-serif;