.gallery {
    margin: 10rem 0;
    &__filter {
       text-align: center;
    }
    &__content {
        margin-top: 2.5rem;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }
}
.gallery__item {
    padding: 1.5rem;
    // width: 46.5%;
    width: 835px;  // need adapt
}
.gallery__content-inner {
    width: 1036px;
    // width: 54%;
    display: flex;
    flex-wrap: wrap;
}
.gallery__content-inner-item {
    width: 50%;
    padding: 1.5rem;
}
.gallery__img {
    display: block;
    width: 100%;
}