.timeline {
    margin-top: 4rem;
}
.timeline__up {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 2px solid $text;
}
.timeline__up-item {
    padding-right: 27rem;
    width: 50%;
}
.timeline__header {
    padding-left: 5.3rem;
    position: relative;
    margin-bottom: 2.3rem;
}
.timeline__icon {
    position: absolute;
    left: 0;
    top: -1rem;
}
.timeline__title {
    color: $text;
    font-size: 1.6rem;
    font-family: $ffMont;
}
.timeline__text {
    font-size: 1.6rem;
    font-family: $ffOpenSans;
    color: $medText;
}