<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__item">
                <div class="footer__title">Contact Us</div>
                <div class="footer__text">
                    <p>
                        Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
                    </p>
                </div>
                <div class="footer__email">
                    <img class="footer__email-icon" src="../assets/images/footer/email.svg"></img>
                    <div class="footer__email-address"><a href="#">ouremailaddress@email.com</a></div>
                </div>
                <form action="/" class="form" method="POST">
                    <input class="footer__input" placeholder="Subscribe by email" name="email" type="text">
                    <button class="btn btn--black" type="submit">Send</button>
                </form>
            </div>
            <div class="footer__item">
                <div class="footer__right">
                    <div class="social">
                        <div class="footer__socialmedia">
                            <a class="footer__icon" href="#">
                                <img src="../assets/images/footer-icon/facebook.svg" alt="">
                            </a>
                            <a class="footer__links"  href="#">
                                <h3>Facebook</h3>
                            </a>
                        </div>
                        <div class="footer__socialmedia">
                            <a class="footer__icon" href="#">
                                <img src="../assets/images/footer-icon/instagram.svg" alt="">
                            </a>
                            <a class="footer__links"  href="#">
                                <h3>Instagram</h3>
                            </a>
                        </div>
                        <div class="footer__socialmedia">
                            <a class="footer__icon" href="#">
                                <img src="../assets/images/footer-icon/Pinterest.svg" alt="">
                            </a>
                            <a class="footer__links"  href="#">
                                <h3>Pinterest</h3>
                            </a>
                        </div>
                        <div class="footer__socialmedia">
                            <a class="footer__icon" href="#">
                                <img src="../assets/images/footer-icon/whatsapp.svg" alt="">
                            </a>
                            <a class="footer__links"  href="#">
                                <h3>WhatsApp</h3>
                            </a>
                        </div>
                        <div class="footer__socialmedia">
                            <a class="footer__icon" href="#">
                                <img src="../assets/images/footer-icon/youtube.svg" alt="">
                            </a>
                            <a class="footer__links"  href="#">
                                <h3>Youtube</h3>
                            </a>
                        </div>
                    </div>    
                    <div class="footer__info">
                        <div class="footer__menu">
                            <a href="#">Delivery</a>
                        </div>
                        <div class="footer__menu">
                            <a href="#">FAQ</a>
                        </div>
                        <div class="footer__menu">
                            <a href="#">Help</a>
                        </div>
                        <div class="footer__menu">
                            <a href="#">More about us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
