<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="nav">
                <div class="nav__left">
                    <ul class="nav__list">
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="#">About</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="#">Gallery</a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="nav__logo">
                    <img src="assets/images/header-logo/logo.svg" alt="">
                </a>
                <div class="nav__right">
                    <ul class="nav__list">
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="#">Blog</a>
                        </li>
                        <li class="nav__list-item">
                            <a class="nav__list-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
